#page-front {
  #sidebar {
    display: none;
  }
}
#front {
  #book;
  #cover {
    width: 657px;
    height: 622px;
    background: url('/images/kansikuva.jpg') 0 0 no-repeat;
  }
  h2 {
    text-transform: uppercase;
  }
  h1 {
    display: none;
  }
  a {
    color: #008166;
  }
}
