@body-color: #202020;
@background-color: #eef5e3;
@navi-background: #79e2cf;
@cursive-font: 'Kite One', sans-serif;
@heading-color: #12cdac;
@highlight-background: #79e2cf;
@pink: #ffc7d2;


* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  color: @body-color;
}

@media screen and (max-width: 999px) {
  #sidebar {
    right: -170px;
  }
  #main {
    padding: 100px 90px 40px 40px;
  }
}

@media screen and (min-width: 1000px) {
  html {
    background-color: @background-color;
    background-image: url('/images/bg.png');
  }
  #main {
    margin: 0 0 0 170px;
    padding: 100px 90px 40px 90px;
  }
  #sidebar {
    left: -170px;
  }
}
@media screen and (min-width: 1190px) {
  #main {
    margin: 0 auto;
  }
}

#main {
  position:relative;
  box-sizing: content-box;
  width: 640px;
  background: white;
  opacity: 0.95;
  border-radius: 10px;
}

#sidebar {
  display: inline-block;
  padding: 50px 30px;
  position: absolute;
  background: @navi-background;
  z-index: 2;

  * {
    color: @body-color;
    font-size: 17px;
    font-family: @cursive-font;
    line-height: 24px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 1px;
    line-height: 20px;
  }

  ul {
    list-style-type: none;
    margin: 20px 0;
    li.info {
      margin-top: 9px;
    }
  }
}

#backdrop {
  width: 100%;
  height: 100%;
  z-index: -1;
}
#topshadow {
  position: fixed;
  width: 100%;
  height: 15px;
  background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(50,50,50,0.2)), to(rgba(80,80,80,0.0)) );
  z-index: 2;
  pointer-events:none;
}

#bottomshadow {
  position: fixed;
  bottom:0;
  width: 100%;
  height: 15px;
  background-image: -webkit-gradient( linear, left bottom, left top, from(rgba(50,50,50,0.2)), to(rgba(80,80,80,0.0)) );
  z-index: 2;
  pointer-events:none;
}

a {
  text-decoration: none;
}

#share {
  top: 274px;
  left: 9px;
  position: fixed;
  width: 80px;
}

#twitter {
  position: fixed;
}

.translucent {
  opacity: 0.6;
}

.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.noGrayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}


.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
}

#main #contact {
  border-top: 1px solid #888888;
  padding-top: 30px;
  margin-top: 30px;

  h2 { margin-bottom: 10px; }
  p { 
    font-size: 0.9em;
    line-height: 1.4em;
  }
}

#main #feedback {
  padding-top: 30px;

  h2 { 
    margin-bottom: 20px; 
  }

  input, textarea { 
    display: block; 
    margin-bottom: 10px;
    width: 400px;
  }

  textarea {
    height: 5em;
  }

  input, textarea, button, span {
    font-size: 14px;
  }
  
  button {
    padding: 2px;
  }
}
