* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

body {
  color: #202020;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('images/koulu.jpg');
  z-index: -1;
}
#topshadow {
  position: fixed;
  width: 100%;
  height: 40px;
  background: #000;
  z-index: 0;
  opacity: 0.1;
}

a {
  text-decoration: none;
}

code {
  font-family: monospace;
  background: #dddddd;
  padding: 0 5px;
  margin: 5px;
}
pre {
  display: block;
  margin-left: 20px;
  width: 80%;
  padding: 10px;
}

#share {
  top: 274px;
  left: 9px;
  position: fixed;
  width: 80px;
}

#twitter {
  position: fixed;
}

#main .note {
  background: #ee9900;
  padding: 2px 30px 2px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: -12px;
}

#main .note input {
  padding: 2px;
  font-size: 15px;
  outline: none;
}

#main .note .remove {
  position: absolute;
  right: 5px;
}

#main {
  position:relative;
  float: left;
  max-width: 800px;
  margin-top: 40px;
  margin-left: 235px;
  margin-right: 20px;
  background: #f6f6f4;
  display: inline-block;
  padding: 40px;
  opacity: 0.9;
  border-radius: 10px;
}

#main h1 {
  font-size: 40px;
  margin-bottom: 40px;
}

#main p {
  margin: 20px 0;

  font-size: 16px;

  line-height: 20px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;

  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

h1, h2, h3 {
  text-transform: uppercase;
}

#sidebar {
  border-radius: 0 10px 10px 0;
  background: #90d3c0;
  margin-top: 40px;
  position: fixed;
  display: inline-block;
  width: 200px;
  padding: 20px 20px 0 0;
  text-align: right;
  opacity: 0.8;
}

#sidebar * {
  color: #000;
  font-size: 18px;
  line-height: 20px;
}

#sidebar h2 {
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;
  margin: 20px 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
