@import "turtle.less";
@import "os.less";

@heading-color: #00D5AA;

#main {
  position:relative;
  float: left;
  max-width: 800px;
  margin-top: 40px;
  margin-left: 235px;
  margin-right: 20px;
  background: white;
  display: inline-block;
  padding: 40px;
  opacity: 0.96;
  border-radius: 10px;

  table {
    text-align: left;
    border: 1px solid black;
  }

  table td, table th {
    padding-right: 40px;
  }

  hr {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 40px;
    &#koodikirja {
      background: url('/images/headline_koodikirja.png') 0 0 no-repeat;
      color: transparent;
    }
  }

  h1,h2,h3 {
    color: @heading-color;
  }

  img {
    max-width: 100%;
    margin: 40px;
  }

  a {
    color: rgb(21, 21, 134);
  }

  >p {
    margin: 20px 0;

    font-size: 16px;

    line-height: 20px;
  }

  ul, ol {
    margin: 20px;
  }

  li {
    font-size: 15px;

    line-height: 20px;
  }

  ul li {
    list-style-type: square;
  }

  h1, h3 {
    text-transform: uppercase;
  }

  code {
     font-family: monospace;
     background: #dddddd;
     padding: 0 5px;
     margin: 5px;
   }
  pre {
     display: block;
     margin-left: 20px;
     width: 80%;
     padding: 10px;
  }

 blockquote {
     background: #88ddFF;
     border: 4px solid blue;
     padding: 10px;
     margin: 25px 30px;
     transition: all 1s ease;
  }

 blockquote p {
     padding: 0;
     margin: 0;
 }
}
