<form id="feedback">
<hidden name="formtype" id="feedback-type" value="teachercontact">
<h2 id="palaute">Ota yhteyttä</h2>
<p>Jos olet kiinnostunut kokeilemaan ohjelmointia oppilaittesi kanssa, voit kokeilla jotain tällä sivulla esitetyistä ideoista. Jos haluat auttaa meitä kehittämään hyvää tukimateriaalia ohjelmoinnin opettamiseen, voit ilmoittaa kiinnostuksesi täällä. Ideat ja ehdotukset ovat myös tervetulleita.</p>
<input name="email" id="feedback-email" type="email" placeholder="Sähköpostiosoitteesi">
<textarea name="text" id="feedback-text" placeholder="Viesti"></textarea>
<button id="feedback-send">Lähetä</button>
<span id="feedback-sent" style="display:none;">Kiitos!</span>
</form>
